@media screen and (min-width: 1200px) {
  .container {
    width: 1155px;
    margin: 0 auto;
  }

  .title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 0.02;
    letter-spacing: 0.05em;
  }

  .suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
  /* ----------* HEADER *-------- */
  .header {
    padding-top: 52px;
  }

  .header-container {
    display: flex;
  }

  .header-list:hover,
  .header-list:focus {
    color: var(--accent-color);
  }

  .header-list {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
  }

  .header-link-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
  }

  .header-link-tel:hover,
  .header-link-tel:focus {
    color: var(--accent-color);
  }

  .button:hover,
  .button:focus {
    color: var(--main-button-color);
    background-color: var(--accent-color);
  }
  /* ----------* HEADER *-------- */
  /* ----------* HERO *-------- */
  .hero-list-media {
    font-weight: 600;
    font-size: 11px;
    line-height: 11.36;
    letter-spacing: 0.2em;
  }

  .hero-list-media:hover,
  .hero-list-media:focus {
    color: var(--accent-color);
  }

  .hero-title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
  /* ----------*HERO *-------- */
  /* ----------*ABOUT *-------- */
  .about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  /* ----------*ABOUT *-------- */
  /* ----------*MASTERS*-------- */
  .masters-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
  }

  .masters-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  /* ----------*MASTERS*-------- */
}
